services:
  postgres:
    image: postgres:15
    container_name: user-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: userdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  user-service:
    build: ./user-service
    ports:
      - "8001:8001"
    env_file:
      - ./user-service/.env
    depends_on:
      - postgres

  product-service:
    container_name: product-service
    build: ./product-service
    ports:
      - "8002:8002"
    env_file:
      - ./product-service/.env
    depends_on:
      - postgres
  cart-service:
    container_name: cart-service
    build: ./cart-service
    ports:
      - "8003:8003"
    env_file:
      - ./cart-service/.env
    depends_on:
      - postgres

volumes:
  pgdata: